body{
    /*background: url("https://i.loli.net/2019/02/12/5c61a0fe7943a.jpg");*/
    background: url("https://i.loli.net/2019/02/14/5c65842cdf470.jpg");
    background-size: cover;
    transition: width 0.4s;
    -webkit-transition: width 0.4s; /* Safari */
}

input#content{
    background-color: rgba(0,0,0,0.3);
    color: white;
    font-size: 20px;
    width: 30%;
    display: block;
    margin: 30% auto;
    text-align: center;
    vertical-align: middle;
    border: transparent solid 5px;
    border-radius: 30px;
    box-shadow: rgba(255,255,255,0.3) 0 0 10px;
    transition: width 0.4s;
    -webkit-transition: width 0.4s; /* Safari */
}

input#content:hover{
    width: 50%;
    transition: width 0.4s;
    -webkit-transition: width 0.4s; /* Safari */
}

#content.active{
    background-color: rgba(255,255,255,0.3);
    color: #000;
}